{% extends "layouts/base.html" %}
{% load static i18n %}
{% block content %}

    <div class="row">
        {% for item in objects_list %}
            <div class="col-lg-4 mb-3 align-items-stretch">
                <div class="card h-100">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="{% static 'img/no.jpeg' %} }" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ item.subject }}</h5>
                        <p class="card-text">{{ item.content }}</p>
                        <div class="mt-auto">
                            <div class="d-flex">
                                <a href="{% url 'main:view' item.id %}" class="btn btn-primary btn-sm">{% translate "Davomi" %}</a>
                                <a class="ms-auto btn btn-danger btn-sm"
                                   href="{% url 'main:delete-post' item.id %}">{% translate "O'chirish" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}